Source: ros-jade-kdl-parser-py
Section: misc
Priority: extra
Maintainer: Chris Lalancette <clalancette@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python-catkin-pkg, ros-jade-catkin (>= 0.5.68), ros-jade-orocos-kdl (>= 1.3.0), ros-jade-rostest, ros-jade-urdf
Homepage: http://ros.org/wiki/kdl_parser_py
Standards-Version: 3.9.2

Package: ros-jade-kdl-parser-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-orocos-kdl (>= 1.3.0), ros-jade-python-orocos-kdl, ros-jade-urdf, ros-jade-urdfdom-py
Description: The Kinematics and Dynamics Library (KDL) defines a tree structure to represent the kinematic and dynamic parameters of a robot mechanism.
 kdl_parser_py provides Python tools to construct a KDL tree from an XML robot representation in URDF.
