Source: ros-melodic-kdl-parser
Section: misc
Priority: extra
Maintainer: Chris Lalancette <clalancette@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libtinyxml-dev, libtinyxml2-dev, liburdfdom-headers-dev, ros-melodic-catkin (>= 0.5.68), ros-melodic-cmake-modules, ros-melodic-orocos-kdl (>= 1.3.0), ros-melodic-rosconsole, ros-melodic-roscpp, ros-melodic-rostest, ros-melodic-urdf
Homepage: http://ros.org/wiki/kdl_parser
Standards-Version: 3.9.2

Package: ros-melodic-kdl-parser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinyxml-dev, libtinyxml2-dev, liburdfdom-headers-dev, ros-melodic-orocos-kdl (>= 1.3.0), ros-melodic-rosconsole, ros-melodic-urdf
Description: The Kinematics and Dynamics Library (KDL) defines a tree structure to represent the kinematic and dynamic parameters of a robot mechanism.
 kdl_parser provides tools to construct a KDL tree from an XML robot representation in URDF.
